// /* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

.container-fluid{
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Roboto', sans-serif;
}
.nav a{
    text-transform: uppercase;
    text-align: left;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}